<div id="toppspage-wrapper">
  <div id="toppspage" class="center2">
    <div id="topps_leftside"  >
          <!-- <img id="pennant_logo" src="http://pennant.topps.com/wp-content/themes/weaver-ii-pro/graphics/pennant_logo.png" alt="Topps Pennant Logo" class="pngimg" /> -->
          <%= image_tag "pennant_logo_large.png", id: "pennant_logo", class: "pngimg" %>
          <div id="every_team_text" >
          Every team. Every game. Every play. 1952 to today.
          </div>
        
                <div id="divider"   >
            <!-- <img src="http://pennant.topps.com/wp-content/themes/weaver-ii-pro/graphics/divider.png" alt="DIVIDER" class="pngimg" /> --></div>
  		    <div id="video1_link"><%= link_to image_tag("watch_the_trailer_orange.png"), "http://player.vimeo.com/video/39739697?autoplay=1", class: "topps_video"%></div>
          <div id="video2_link"><%= link_to (image_tag "watch_the_demo_orange.png"), "http://player.vimeo.com/video/39745318?autoplay=1", class: "topps_video" %></div>

          <div id="app_store_black" >
            <%= image_tag "app_store_button.png" %>          


          </div>

  		    <div id="available_text">
              Available for <b>iPhone</b> and <b>iPad</b>.
          </div>

    </div>
    <div id="rightside">
    <div id="iphone"  > <%= image_tag "iphone_hand.png" %> </div>
    
      


      <div class='pennant-iphone-pic'> </div>
    



  </div>







  </div>
</div>


