<!DOCTYPE html>
<html>
<head>

  <title>PennantWebApp</title>
  <style type="text/css">
</style>

  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "fonts" %>
  <%= stylesheet_link_tag "main"%>
  <%= stylesheet_link_tag "team" %>
  <%= stylesheet_link_tag "jquery.fancybox-1.3.4" %>
  <%#= javascript_include_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.fancybox-1.3.4.pack" %>
  <%= javascript_include_tag "jquery.easing-1.3.pack" %>


  <%= csrf_meta_tags %>
</head>
<%= render partial: "header" %>

<body id="pennant_home">
<%= yield %>

</body>
</html>
